body {
	background-color: white;
}

@media screen and (min-width: 400px){
	body {
		background-color: lightgray;

	}

	.ul-list-properties {
		list-style-type: none;
		font-family: garamond;
		color: #222;
		font-style: 60px;
		list-style-image: url("check.png");
	}
	.images{
		visibility: hidden;
	}
}


@media screen and (min-width: 750px){
	body {
		background-color: lightblue;
	}

	.ul-list-properties {
		list-style-type: none;
		font-family: arial;
		font-size: 20px;
		list-style-image: url("check.png");
	}
	.ul-list-properties li {
		color:black;
		font-weight: bold;
	}

	.ol-list-properties li {
		font-size: 20px;
	}

	.images{
		visibility: visible;
	}
}


#title-of-article {
	color: green;
	text-align: center;
}

.title-h2 {
	color: green;
	font-size: 20px;
}

.ul-list-properties {
	list-style-type: none;
	font-family: garamond;
	color: blue;
	list-style-image: url("check.png");
}

.ol-list-properties {
	list-style-type: upper-roman;
}

.ul-links {
	list-style-type: none;
	background-color: lightgray;
}

p span {
	font-style: italic;
}
span:last-child {
	text-decoration: underline;
}
.first-span{
	color: red;
}

.blue-color{
	color: blue;
}